* {
    padding: 0px;
    margin: 0px;
}

.all {
    width: 100%;
    height: 100vh;
    background-image: url(../img/2.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 65%;
    height: 70%;
    display: flex;
    justify-content: center;
}

.loginarea {
    height: 100%;
    width: 43%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
    padding-top: 3em;
}


.formlogin {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    width: 50%;
    height: 2.5em;
    border-radius: 2.5em;
    padding-left: 1em;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 1px;
    border: 2px solid rgb(10, 10, 61);
    margin: 8px;
    font-family: FontAwesome;
}

.input:hover{
    background-color: rgba(41, 11, 95, 0.1);
    color: #000000;
}

.input2:hover{
    background-color: rgba(41, 11, 95, 0.1);
    color: #000000;
}

.box {
   
    display: flex;
    gap: 14px;
    margin: 12px;
}

.ball {
    width: 40%;
    height: 1.5em;
    border-radius: 1.5em
}

.selects {
    text-align: center;
    display: flex;
    justify-content: center;
}

.est {
    width: 70%;
    height: 2.5em;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 10px;
    
}

#idade {
    width: 20%;
    height: 1.5em;
    border-radius: 1em;
}


#estados {
    width: 60%;
    height: 1.5em;
    border-radius: 1.5em;
    margin-left: .2em;
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 0.7;
}

label {
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 0.7;
}


p{
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 0.7;
}

.loginbutton {
    width: 35%;
    height: 2.5em;
    border-radius: 1.5em;
    margin-top: 1em;
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 0.7;
}

.loginbutton:hover{
    background-color: rgba(41, 11, 95, 0.1);
   color: #000000;
}

.logininfo {
    height: 100%;
    width: 58%;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.938813025210084) 7%, rgba(9, 9, 121, 0.9612219887955182) 86%);
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, 0.1);
    transition: all 0.4s;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.content {
    border-radius: 10%;
    width: 30%;
    height: 83%;
    background-color: #dbdbdf;
    padding: 1em 2em;
}

.recup-title {
    margin-bottom: 1em;
}

.formcadastro {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.content h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    opacity: 0.8;
}

.footer {
    display: flex;
    justify-content: end;
    flex-direction: row;
    margin-bottom: 35px;
    margin-left: 285px;
}

.fechar {
    position: absolute;
    right: 15.2em;
    top: 1.9em;
    text-decoration: none;
    color: #000000;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 1;
}

.footer2 {
    border-radius: 5px;
    padding: 10px;
    margin-left: 280px;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    opacity: 0.8;
    font-size: 3.5em;
    margin-top: 10px;
}

.modalink {
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: .1em;
}

.input2{
    width: 50%;
    height: 2.5em;
    border-radius: 1.5em;
    padding-left: 1em;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 1px;
    border: 2px solid rgb(10, 10, 61);
    margin: 15px;
}
.checkbox{
    margin-top: 10px;
}